/* universal code */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-title{
  text-align: center;
font-size: 40px;
font-weight: 900;
}
/* share font */
.font{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
  }
  .p-description{
    font-size: 18px;
  }
  .bg-colour{
    background-color: #d48b9b61;
  }
  /* header-section-start */
nav{
display: flex;
justify-content: space-around;
align-items: center;
}
  h2 a{
font: size 45px;
color: chocolate;
text-decoration: none;
  }
  nav ul{
list-style: none;
display: flex;
  }
  nav ul li{
margin-right: 20px;
padding: 10px;
  }
 
  nav ul li a{

    text-decoration: none;
  }

   nav ul li a:hover{
color: blue;
background-color: bisque;
  }
    /* header-section-end */

    main{
      max-width: 1440px;
    }
  /* banner-section-start */
.container{
width: 90%;
margin: 0 auto;
}
.banner-container{
  display: flex;
}
.banner-text{
  width: 40%;
margin: 100px 0px 0 100px;
}
.banner-img{
  width: 40%;
margin: 40px 0px 0 100px;
}
.b-h1{
font-size: 70px;
font-weight: 900px
}
.b-p{
font-size: 18px;
margin: 20px 0;
}
.btn-primary{
font-size: 20px;
font-weight: bold;
background-color: #E55473;
padding: 20px 43px;
border-radius: 8px;
border: none;
color: white;
}
.banner-img img{
  width: 100%;
}
    /* banner-section-end */

    /* feature-section-start */
    .feature-content{
      width: 50%;
      margin: 0 auto;
    }
    .f-p{
      text-align: center;
    }
    .feature-img{
      display: flex;
      justify-content: space-evenly;
    }
    .first-img img,.second-img img,.third-img img{
      width: 314px;
      height: 471px;
    }
    #first{
background-color:#edd0de;
border-radius:50% 50% 0 0 ;
    }
    #second{
background-color:#d3f7f9 ;
border-radius:50% 50% 0 0 ;
    }
    #third{
background-color: #ddecce;
border-radius:50% 50% 0 0 ;
    }
     /* feature-section-end */
     /* under-section-start */
     .under-content{
      display: flex;
    justify-content: space-evenly;
    text-decoration-line: underline;
     }
  .u-p {
      text-align: center;
     }
      /* under-section-end */
       /* fungtion section start  */
       /* *universal code
       *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
       } */
       .banne1bg-colour{
        background-color:#ded8d8;
       }
       .fungtion-content{
width: 1440%;
margin: 320;
       }
       .fungtion-img{
        display: flex;
        justify-content: space-evenly;
       }
       .group-1.img img,.group-2.img img,.group-3.img img{
        width: 202px;
        height: 147px;
       }
       #group-1{
        border-radius:50% 50% 0 0 ;
       }
       #group-2{
        border-radius:50% 50% 0 0 ;
       }
       #group-3{
        border-radius:50% 50% 0 0 ;
       }
        /* fungtion section end  */
        /* underline section start */
        .underline-content{
          display: flex;
        justify-content: space-evenly;
        text-decoration-line: underline;
         }
      .u-p {
          text-align: center;
         }
        /* underline section end */
        /* section-banner2 start*/
        .bg-colour{
          background-color:#f0e5e7;
        }
        nav{
          display: flex;
          justify-content: space-around;
          align-items: center;
          }
            h3 a{
          font: size 45px;
          color: chocolate;
          text-decoration: none;
            }
            nav ul{
          list-style: none;
          display: flex;
            }
            nav ul li{
              margin-right: 20px;
              padding: 10px;
                }
               
                nav ul li a{
              
                  text-decoration: none;
                }
              
                 nav ul li a:hover{
              color: blue;
              background-color: bisque;
                }
                main{
                  max-width: 1440px;
                }
            .container{
            display: flex;
            width: 80%;
            margin: 0 auto;
            }
            .banner-text{
              width: 40%;
            margin: 100px 0px 0 100px;
            }
            banner-img{
              width: 318%;
              height: 420px;
            margin: 40px 0px 0 100px;
            }
            .b-h3{
            font-size: 70px;
            font-weight: 500;
            }
            .highlight-word-colour{
              color:#E55473;
            }
            .b-p{
            font-size: 18px;
            margin: 20px 0;
            }
            .btn-primary{
            font-size: 20px;
            font-weight: bold;
            background-color: #E55473;
            padding: 0 px 43px;
            border-radius: 8px;
            border: none;
            }
            .banner-img img{
              width: 100%;
            }
            /* section-banner2 end */
                  /* header-section-end */
                    /* instagram section start */
                  .container{
                    width: 80%;
margin: 0 auto;
                  }
                  .instrgram-content{
                    display: flex;
                    width: 50%;
                    margin: 0 auto;
                  }
                  .header-title{
                    text-align: center;
                    font-size: 40px;
                    font-weight: 900;
                  }
                  .f-p{
                    text-align: center;
                  }
                   
              .instagram-images{
                margin: 48px;
              display: flex;
                justify-content:space-evenly;
                display: grid;
                grid-template-columns:repeat(2,1fr);
                gap: 20px;
              }
              .first-img{
                width: 342px;
              }
              .second-img{
                width: 342px;
              }
              .third-img{
                width: 390px;
              }
              .fourth-img{
                width: 342px;
              }
              .first-img img,.second-img,.third-img,.fourth img img{
                width: 100%;
                border-radius: 20px;
              }
        /* header-section-start */
         /* underline section end */
           /* instagram section end */
             /* deals section start */
             .deals-content{
text-align: center;
margin: 122px 187px;
background-image: url();
             }
             .p-deals{
              margin: 18px 48px;
             }
             input{
              width: 400px;
              height: 40;
              border: none;
              color: white;
              border-radius: 3px;
              box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
             }
            .d-btn{
              width: 65px;
              height: 40;
              background-color: #e37990;
              color: white;
              border: none;
              border-radius: 3px;
             }
               /* deals section end*/
               /* box section start */
               .box-content{
                text-align: center;
margin: 122px 187px;
background-color: black;
color: white;
               }
               .p-box{
                margin: 18px 10px;
                height: 50px;
               }
               .highlight-word-colour{
                color:#E55473;
               }
               /* box section start */
